table {
    border-collapse: collapse;
     background-color: lightgrey;
     font-family: 'Times New Roman', Times, serif;
 }
  td,th{
    width: 200px;
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
  }
